@charset "ISO-8859-1";
.loginform{
	
	margin-left:300px;
	margin-top:100px;
	border-radius:25px;
	width:600px;
	height:400px;
	background-color:lime;
	position:absolute;
}
ul{
	list-style-type:none;
	position:abosolute;
	margin-left:50px;
	margin-top:100px;
	
}
ul li{
	padding:10px;
}
.control{
	width:400px;
	height:40px;
}